# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

luabuilder.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml

target
target/classes
target/generated-sources
target/maven-archiver
target/maven-status
target/lua-builder-1.0-SNAPSHOT.jar
